/* Start  Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* End Google Fonts */

/* Start Global CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    color: #999999;
    font-family: 'Lato', sans-serif;
}
textarea, textarea{
    font-family: 'Lato', sans-serif;
}
.col-1{
    width:  8.333%;
    float: left;
}
.col-2{
    width: 16.66%;
    float: left;
}
.col-3{
    width: 24.999%;
    float: left;
}
.col-4{
    width: 33.332%;
    float: left;
}

.col-5{
   width: 41.665%;
   float: left;
}
.col-6{
    width: 50%;
    float: left;
}
.col-7{
    width: 58.331%;
    float: left;
}
.col-8{
    width: 66.664%;
    float: left;
}
.col-9{
    width: 74.997%;
    float: left;
}
.col-10{
    width: 83.333%;
    float: left;
}
.col-11{
    width: 91.663%;
    float: left;
}
.col-12{
    width: 100%;
    float: left;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    width: 100%;
    float: left;
}
.col-4-offset{
    margin-left: 33.332%;
    margin-right: 33.332%;
}

a{
    text-decoration: none;
}
.mb-50{
    margin-bottom: 50px;
}
/* End Global CSS */

/* Start Header Section */
header{
    width: 100%;
    float: left;
    background: #f6f9f9;
    padding: 20px 0;
}
.logo{
    width: 100px;
}
/* End Header Section */

/* Start Banner Section */
.banner{
        width: 100%;
        float: left;
        background: url(../img/banner.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 200px 0 100px; 
    }
.banner h1{
    font-size: 58px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}
 
.title-border{
    width: 30%;
    margin: 15px auto 20px;
    height: 2px;
    background: #15a4fa;
}
.banner p{
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
}
.btn{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #ffff;
    background: transparent;
    border: 2px solid #15a4fa;
    border-radius: 3px;
    width: 150px;
    padding: 12px 14px;
    transition: .3s ease background; 
}
.btn:hover{
    background: #15a4fa;

}
.banner .fa{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 200px;
}
/* End Banner Section */

/* Start About Section */
.about{
    width: 100%;
    float: left;
    padding: 75px 0;
    background: #f6f9f9;
}
.about h2{
    text-align: center;
    font-size: 36px;
    color: #2d3950;
    margin-bottom: 20px;
    font-weight: 400;
}
.about p{ 
    text-align: center;
    font-size: 18px;
    padding: 0 30px;
}
/* End About Section */

/* Start Icon Section */
.icon{
    width: 100%;
    float: left;
    padding: 75px 0px;
}
.icon .photo{
   display: block;
   margin: 0 auto;
}
.icon h3{
    font-size: 20px;
    text-align: center;
    color: #2d3950;
    margin: 25px 0 10px; 
}
.icon p{
    font-size: 14px;
    text-align: center;
    padding: 0 30px;
}
/* End Icon Section */

/* Start Work Section */
.work{
    width: 100%;
    float: left;
    background: #f6f9f9;
    padding: 75px 0px;
}
.work h2{
    text-align: center;
    font-size: 36px;
    color: #2d3950;
    font-weight: 400;
    margin-bottom: 15px;
}
.work p{
    text-align: center;
    font-size: 14px;
    /* margin-top: 15px;
    margin-bottom: 50px; */
    padding: 0 30px;
}
.work-item{
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 260px;
    margin:  0 auto 22px;
}
.item-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(44,172,247,1);
    top: 0;
    right: -100% ;
    transition: .5s ease-in-out;
    text-align: center;
}
.work .work-item:hover .item-hover{
    background: rgba(44,172,247,.8);
    right: 0;
} 
.item-hover ul{
    padding: 0;
    display: block;
    margin-top: 110px;
}
.item-hover ul li{
    text-decoration: none;
    display: inline;
}
.item-hover ul li .fa{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    margin: 5px;
}

/* End Work Section */

/* Start Stay Area */
.stay{
    width: 100%;
    float: left;
    background: url(../img/ft-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 50px 0 100px; 
}
.stay h2{
    font-size: 36px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    word-spacing: 3px;
}
.stay p{
    text-align: center;
    font-size: 14px;
    margin: 15px 0 50px;
    padding: 0 30px;
    color: #fff;
}
.form-group{
    margin-bottom: 20px;
}
 .box{
     width: 100%;
     height: 20xp;
     background: transparent;
     border: 1px solid #eee;
     padding: 10px 20px;
     color: #fff;
     border-radius: 3px;
     font-size: 14px;
 }
 .text-area{
     width: 100%;
     height: 100px;
     background: transparent;
     border: 1px solid #eee;
     padding: 10px 20px;
     color: #fff;
     border-radius: 3px;
     font-size: 14px;
 }
 .btn-primary{
     color: #fff;
     background: transparent;
     border: 1px solid #15a4fa;
     padding: 10px 40px;
     display: block;
     float: right;
     border-radius: 3px;
     transition: .5s ease background;
 }
 .btn-primary:hover{
     background: #15a4fa;
     cursor: pointer;
 }
 .check-mate{
     margin-right: 5px;
     margin-top: 10px;
 }
/* End Stay Area  */

/* Start Footer Area */
footer{
    width: 100%;
    float: left;
    padding: 25px 0px;
    background: #f6f9f9;
    
}
footer p{
    font-size: 14px;
    margin-top: 9px;
    color: #b2b5ba;
    font-weight: 500;
    /* padding: 0 90px; */
}
.social{
    text-align: right;
}
.social ul{
    padding: 0;
}
.social ul li{
    list-style: none;
    display: inline;
    margin: 0 3px;
}
.social ul li .fa{
    background: #15a4fa;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    filter: grayscale(1);
    transition: .5s ease all;
}
.social ul li .fa:hover{
    filter: grayscale(0);
    width: 40px;
    height: 40px;
    font-size: 18px;
}
/* End Footer Area */